@import 'tailwindcss';

@font-face {
    font-family: "GenSan";
    src: url("../Fonts/GeneralSans-Variable.ttf") format("ttf");
    font-display: swap;
}

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
