@import 'tailwindcss';

@font-face {
    font-family: "GenSan";
    src: url("../Fonts/GeneralSans-Variable.ttf") format("ttf");
    font-display: swap;
}

@theme {
    --font-GenSan: GenSan, "cursive";
}